{% load plotly_dash %}
<div class="layout-content-body">
    <div class="title-bar">
        <h1 class="title-bar-title">Basic template</h1>
        <p class="title-bar-description">
            <small>Use this page as a basic template for developing your application.</small>

            {#                {% plotly_app name="SimpleExample" %}#}
            {% if plotly_sample %}
                {% plotly_app name=plotly_sample %}
            {% endif %}

        </p>
        {% block content %}
        {% endblock %}
    </div>
</div>